@font-face {
  font-family: norse-bold;
  src: url(./Norse-Bold.otf);
}

:root {
  --text-padding: 30px;
}
body {
  display: flex;
  margin: 0;
  background-color: rgb(239, 239, 239);
}

div {
  margin: 0;
}

#photo-container {
  position: relative;
  display: flex;
  height: 100vh;
}

#background {
  /* position: relative; */
}

#odin-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  bottom: 70%;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  padding: 15px 0;
}

#logo {
  width: 100px;
}

#odin-logo p {
  flex: 0;
  margin: 0;
  font-family: norse-bold;
  font-size: 5rem;
}

#content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#content-container p {
  padding-left: var(--text-padding);
  font-family: Roboto;
  font-size: 1.5rem;
  width: 80%;
}

form {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding: var(--text-padding);
  gap: 5px;
  filter: drop-shadow(0 5px 4px lightgrey);
}

h3 {
  width: 100%;
  margin: 0;
}

label {
  font-size: 0.8rem;
  width: 45%;
}

input {
  width: 40%;
  margin-right: 5%;
  margin-bottom: 15px;
}


input[type="submit"] {
  margin: 30px var(--text-padding);
  width: fit-content;
  padding: 15px 30px;
  background-color: rgb(51, 82, 51);
  border: none;
  color: white;
  font-size: 1.2rem;
  border-radius: 12px;
}

.log-in p{
  width: auto;
}

a {
  text-decoration: none;
  color: darkgreen;
}